<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Informasi Harga Satuan Pekerjaan Konstruksi Provinsi Jawa Tengah, MAS PETRUK, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>MAS PETRUK | INFORMASI HARGA SATUAN PEKERJAAN KONSTRUKSI PROVINSI JAWA TENGAH</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>BERITA JASA KONSTRUKSI</strong></h2>
                </div>
            </div>

            <div class="row" >
                <% for(var i=0; i<berita.length; i++){ %>
                <div class="col-md-6 col-lg-6" style="margin-top: 30px;">
                    
                    <a href="/berita/detail/<%= berita[i].id%>">

                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <img src="/foto/<%= berita[i].file1%>" alt="" style="width: 100%;height:200px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                            <div class="col-md-7 col-lg-7">
                                <h5 class="mt-0 mb-0"><strong><%= berita[i].judul%></strong></h5>
                                <h6 class="mt-0 mb-0"><%= berita[i].tgl%></h6>

                                <p><%- berita[i].deskripsi.substring(0,100)%> ....</p>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
                
                
            </div>
        </div>
    </section>

    

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      $(function() {
      $('#menu-berita').addClass('custom');
    });
    </script>
</body>
</html>