<!DOCTYPE html>
<html lang="en">
<%
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }
%>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah, SIJAKONS, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN,">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>SIJAKONS | Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    html,body{
            width: 100%;
            overflow-x:  hidden;
        }
    #video-background{
        position: static;
            right: 0; 
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            width: auto; 
            height: auto;
    }
    </style>
</head>

<body>
    
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 p-l-0 p-r-0">
                    <div style="width: 100%;height: 100vh;background-color: #e0e0e0;">
                        <video autoplay loop id="video-background" muted>
                            <source src="/video/simbgprov1.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <header style="position: absolute;left: 0;right: 0;top:0;background-color: rgba(0, 0, 0, 0.5);">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5">
                        <div style="width:100%;height: 100px;display: flex;justify-content: flex-start;align-items: center;">
                            <img src="/images/template/logo-prov-jateng.png" alt="" style="height: 70px;">
                            <div style="display: flex;flex-direction: column;height: 70px;justify-content: center;align-items: flex-start;">
                                <h4 class="m-l-15 mt-0 mb-0" style="color: #fff;"><strong>SIJAKONS</strong></h4>
                                <h6 class="m-l-15 mt-0 mb-0" style="color: #fff;">SISTEM INFORMASI JASA KONSTRUKSI</h6>
                                <h6 class="m-l-15 mt-0 m-b-0" style="color: #fff;">PROVINSI JAWA TENGAH</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-lg-7">
                        <div style="display: flex;height: 100px;justify-content: space-between;align-items: center;width: 100%;">
                            <a href="/" style="text-decoration: none;font-size: 16px;font-weight: bold;color: #fff;">BERANDA</a>
                            <a href="/berita" style="text-decoration: none;font-size: 16px;font-weight: bold;color: #fff;">BERITA</a>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;font-size: 16px;font-weight: bold;color: #fff;">
                                    HARGA SATUAN
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="z-index: 10000;">
                                  <a class="dropdown-item" href="/harga_satuan/hsd">HARGA SATUAN DASAR (HSD)</a>
                                  <a class="dropdown-item" href="/harga_satuan/hspk">HARGA SATUAN PEKERJAAN KONSTRUKSI (HSPK)</a>
                                  <a class="dropdown-item" href="/harga_satuan/hsgbn">HARGA STANDAR BANGUNAN GEDUNG NEGARA (HSBGN)</a>
                                </div>
                            </div>
                            <a href="/#simulasi" style="text-decoration: none;font-size: 16px;font-weight: bold;color: #fff;">ANALISA</a>
                            <a href="/peraturan" style="text-decoration: none;font-size: 16px;font-weight: bold;color: #fff;">PERATURAN</a>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;font-size: 16px;font-weight: bold;color: #fff;">
                                    INFORMASI JAKONS
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="z-index: 10000;">
                                  <a class="dropdown-item" href="/info_jakon/tenaga_kerja">DATA TENAGA KERJA</a>
                                  <a class="dropdown-item" href="/info_jakon/badan_usaha">DATA BADAN USAHA JASA KONSTRUKSI</a>
                                  <a class="dropdown-item" href="/info_jakon/profil_pembinaan">PROFIL PEMBINAAN JASA KONSTRUKSI KABUPATEN/KOTA</a>
                                  <a class="dropdown-item" href="/info_jakon/profil_balai">PROFIL BALAI JASA KONSTRUKSI PROVINSI JAWA TENGAH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>


    <section style="padding: 240px 0 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>BERITA JASA KONSTRUKSI</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <% for(var i=0; i<berita.length; i++){ %>
                <div class="col-md-4 col-lg-4">
                    <a href="/berita/detail/<%= berita[i].id%>">
                        <div style="width: 100%;position: relative;">
                            <img src="/foto/<%= berita[i].file1%>" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;height: 300px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong><%= berita[i].judul%></strong></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>

                
            </div>
        </div>
    </section>

    <section style="padding: 90px 0;background-color: #e0e0e0;">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h2 class="m-t-0 m-b-0 text-left"><strong>HARGA SATUAN DASAR (HSD)</strong></h2>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 col-lg-12">
                            <h5>Yaitu harga komponen dari mata pembayaran dalam satuan tertentu, misalnya bahan (m, m2, m3, kg, ton, zak, dan sebagainya), peralatan (unit, jam, hari, dan sebagainya), dan upah tenaga kerja (jam, hari, bulan, dan sebagainya)</h5>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 col-lg-12">
                            <a href="/harga_satuan/hsd" class="btn btn-primary">Informasi Selengkapnya </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-lg-5">
                    <img src="/images/template/2.jpeg" alt="" style="width: 100%;border-radius: 100%;">
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <img src="/images/template/3.jpeg" alt="" style="width: 100%;">
                </div>
                <div class="col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h2 class="m-t-0 m-b-0 text-right"><strong>HARGA SATUAN PEKERJAAN KONSTRUKSI (HSPK)</strong></h2>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 col-lg-12">
                            <h5 class="text-right">
                                Yaitu biaya yang dihitung dalam suatu analisis harga satuan suatu pekerjaan konstruksi, yang terdiri atas biaya langsung (tenaga kerja, bahan, dan alat), dan biaya tidak langsung (biaya umum atau overhead, dan keuntungan) sebagai mata pembayaran suatu jenis pekerjaan tertentu, belum termasuk Pajak Pertambahan Nilai (PPN)
                            </h5>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 col-lg-12">
                            <a href="/harga_satuan/hspk" class="btn btn-primary float-right">Informasi Selengkapnya </a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

    <section style="padding: 90px 0;background-color: #e0e0e0;">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h2 class="m-t-0 m-b-0 text-left"><strong>HARGA STANDAR BANGUNAN GEDUNG NEGARA (HSBGN)</strong></h2>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 col-lg-12">
                            <h5>Yaitu standar harga satuan tertinggi untuk biaya pelaksanaan konstruksi fisik per M² pembangunan bangunan gedung Negara dan diberlakukan sesuai dengan klasifikasi, lokasi, dan tahun Pembangunannya.</h5>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 col-lg-12">
                            <a href="/harga_satuan/hsgbn" class="btn btn-primary">Informasi Selengkapnya </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-lg-5">
                    <img src="/images/template/1.png" alt="" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 90px 0;" id="simulasi">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>ANALISA</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                        <div class="form-row">
                          <div class="col-md-4 col-lg-4">
                            <select class="form-control" name="" id="id_kab">
                                <option value="-">-- Pilih Kabupaten / Kota --</option>
                                <% for(var i=0; i<kabupaten.length; i++){ %> 
                                
                                <option value="<%= kabupaten[i]['id_kab']%>"   ><%= kabupaten[i]['kab']%> </option>
                                <% }%>
                            </select>
                          </div>
                          <div class="col-md-5 col-lg-5">
                            <select class="form-control" name="" id="id_pekerjaan">
                                <option value="-">-- Pilih Jenis Pekerjaan --</option>
                                <% for(var i=0; i<pekerjaan.length; i++){ %> 
                
                                    <option value="<%= pekerjaan[i]['id']%>"  satuan="<%= pekerjaan[i]['satuan']%>"  ><%= pekerjaan[i]['nama_pekerjaan']%> </option>
                                    <% }%>
                            </select>
                          </div>

                          <div class="col-md-2 col-lg-2">
                              <div style="width: 100%;height: 38px;display: flex;justify-content: flex-start;align-items: center;">
                                <input type="number" class="form-control" name="" id="jumlah" placeholder="jumlah" style="margin-right: 20px;" value="1">
                                <span class="satuan">m</span>
                            </div>
                          </div>
                          <div class="col-md-1 col-lg-1">
                            <button class="btn btn-primary btn-block" id="simulasikan">Analisa</button>
                          </div>
                        </div>
                  
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                    <table class="table table-bordered table-sm table-striped tabelDefault">
                        <thead style="background-color: #007bff;color: #fff;">
                            <tr>
                                <th style="text-align: center;">No.</th>
                                <th style="text-align: center;">Uraian</th>
                                <th style="text-align: center;">Kode</th>
                                <th style="text-align: center;">Satuan</th>
                                <th style="text-align: center;">Koefisien</th>
                                <th style="text-align: center;">Harga Satuan (Rp)</th>
                                <th style="text-align: center;">Jumlah Harga (Rp)</th>
                            </tr>
            
                            <tr>
                                <th style="text-align: center;">1</th>
                                <th style="text-align: center;">2</th>
                                <th style="text-align: center;">3</th>
                                <th style="text-align: center;">4</th>
                                <th style="text-align: center;">5</th>
                                <th style="text-align: center;">6</th>
                                <th style="text-align: center;">7</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr id="tenaga">
                                <td style="text-align: center;">A</td>
                                <td style="text-align: left;" colspan="6">Tenaga Kerja</td>
                            </tr>
            
                           
            
                            <tr>
                                <td colspan="6" style="text-align: right;">Jumlah Harga Tenaga Kerja</td>
                                <td id="total_tenaga" style="text-align: right;">-</td>
                            </tr>
            
            
                            <tr id="bahan">
                                <td style="text-align: center;">B</td>
                                <td style="text-align: left;" colspan="6">Bahan</td>
                            </tr>
            
                         
            
                            <tr>
                                <td colspan="6" style="text-align: right;">Jumlah Harga Bahan</td>
                                <td id="total_bahan" style="text-align: right;">-</td>
                            </tr>
            
                            <tr id="peralatan">
                                <td style="text-align: center;">C</td>
                                <td style="text-align: left;" colspan="6">Peralatan</td>
                            </tr>
            
                          
            
                            <tr>
                                <td colspan="6" style="text-align: right;">Jumlah Harga Peralatan</td>
                                <td id="total_peralatan" style="text-align: right;">-</td>
                            </tr>
            
                            <tr>
                                <td style="text-align: center;">D</td>
                                <td style="text-align: left;" colspan="5">Jumlah Harga Tenaga, Bahan dan Peralatan (A+B+C)</td>
                                <td id="total_keseluruhan" style="text-align: right;">&nbsp;</td>
                            </tr>
            
                            <tr>
                                <td style="text-align: center;">E</td>
                                <td style="text-align: left;" colspan="3">Overhead + profit (Contoh 10%)</td>
                                <td colspan="2" style="text-align: center;">10 % x D</td>
                                <td id="total_profit" style="text-align: right;">&nbsp;</td>
                            </tr>
            
                            <tr>
                                <td style="text-align: center;">F</td>
                                <td style="text-align: left;" colspan="5"><strong>Harga Satuan Pekerjaan per - <span id="jumlahTampil"></span> <span class="satuan"></span> (D+E)</strong></td>
                                <td id="total" style="text-align:right">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>

    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
    function numberWithCommas(x) {
		  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}
        
      $('.menu-simulasi').click(function() {
            $('html, body').animate({
            scrollTop: $("#simulasi").offset().top
            }, 1000);
        });

        $(document).ready(function() {


$('#id_pekerjaan').change(function(){
  // console.log($('#id_pekerjaan option:selected').attr('satuan'))
  $('.satuan').html($('option:selected', this).attr('satuan'))
})

$('#simulasikan').click(function(){
  if(!$('#id_pekerjaan').val() && !$('#id_kab').val() && !$('#jumlah').val()){
    alert('Kabupaten, jenis pekerjaan dan jumlah tidak boleh kosong!')
  }else{
    $.getJSON(`/manajemen_master/pekerjaan/detail_json/${$('#id_pekerjaan').val()}/${$('#id_kab').val()}`, function(data){
    console.log(data)
    doReset()
    
    let bahan = []
    let tenaga = []
    let peralatan = []
    let jumlah = $('#jumlah').val()
    $('#jumlahTampil').html(jumlah)
    data.forEach(e => {
        if(e.jenis_uraian == 'bahan'){
          bahan.push(e);
        }else if(e.jenis_uraian == 'tenaga'){
          tenaga.push(e);
        }else if(e.jenis_uraian == 'peralatan'){
          peralatan.push(e);
        }
    });
let total_bahan =0;
    bahan.forEach(e => {
      $( "#bahan" ).after(` <tr id='${e.id}'>
          <td style="text-align: center;"></td>
          <td style="text-align: left;">${e.nama} </td>
          <td style="text-align: center;">${e.kode}</td>
          <td style="text-align: center;">${e.satuan}</td>
          <td style="text-align: center;">${e.koefisien}</td>
          <td style="text-align: right;">${numberWithCommas(e.harga)}</td>
          <td style="text-align: right;">${numberWithCommas(Math.round(e.koefisien * e.harga * jumlah))}</td>
      </tr>`);
      total_bahan += (e.koefisien * e.harga * jumlah)
    });

    let total_tenaga = 0
    tenaga.forEach(e => {
      $( "#tenaga" ).after(` <tr id='${e.id}'>
          <td style="text-align: center;"></td>
          <td style="text-align: left;">${e.nama} </td>
          <td style="text-align: center;">${e.kode}</td>
          <td style="text-align: center;">${e.satuan}</td>
          <td style="text-align: center;">${e.koefisien}</td>
          <td style="text-align: right;">${numberWithCommas(e.harga)}</td>
          <td style="text-align: right;">${numberWithCommas(Math.round(e.koefisien * e.harga * jumlah))}</td> 
      </tr>`);
      total_tenaga += (e.koefisien * e.harga * jumlah)
    });

    let total_peralatan = 0;
    peralatan.forEach(e => {
      $( "#peralatan" ).after(` <tr id='${e.id}'>
          <td style="text-align: center;"></td>
          <td style="text-align: left;">${e.nama} </td>
          <td style="text-align: center;">${e.kode}</td>
          <td style="text-align: center;">${e.satuan}</td>
          <td style="text-align: center;">${e.koefisien}</td>
          <td style="text-align: right;">${numberWithCommas(e.harga)}</td>
          <td style="text-align: right;">${numberWithCommas(Math.round(e.koefisien * e.harga * jumlah))}</td>
      </tr>`);
      total_peralatan += (e.koefisien * e.harga * jumlah)
    });

    $('#total_bahan').html(numberWithCommas(Math.round(total_bahan)))
    $('#total_tenaga').html(numberWithCommas(Math.round(total_tenaga)))
    $('#total_peralatan').html(numberWithCommas(Math.round(total_peralatan)))
    let total_keseluruhan = total_bahan+ total_peralatan + total_tenaga;
    $('#total_keseluruhan').html(numberWithCommas(Math.round(total_keseluruhan)))
    let total_profit = (total_keseluruhan * 10)/100;
    $('#total_profit').html(numberWithCommas(Math.round(total_profit)))
    let total = total_keseluruhan + total_profit;
    $('#total').html(numberWithCommas(Math.round(total)))
    })
  }

})

function doReset(){
  $('.tabelDefault').html(` <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">No.</th>
                <th style="text-align: center;">Uraian</th>
                <th style="text-align: center;">Kode</th>
                <th style="text-align: center;">Satuan</th>
                <th style="text-align: center;">Koefisien</th>
                <th style="text-align: center;">Harga Satuan (Rp)</th>
                <th style="text-align: center;">Jumlah Harga (Rp)</th>
            </tr>

            <tr>
                <th style="text-align: center;">1</th>
                <th style="text-align: center;">2</th>
                <th style="text-align: center;">3</th>
                <th style="text-align: center;">4</th>
                <th style="text-align: center;">5</th>
                <th style="text-align: center;">6</th>
                <th style="text-align: center;">7</th>
            </tr>
        </thead>

        <tbody>
            <tr id="tenaga">
                <td style="text-align: center;">A</td>
                <td style="text-align: left;">Tenaga Kerja</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
            </tr>

           

            <tr>
                <td colspan="6" style="text-align: right;">Jumlah Harga Tenaga Kerja</td>
                <td id="total_tenaga" style="text-align: right;">-</td>
            </tr>


            <tr id="bahan">
                <td style="text-align: center;">B</td>
                <td style="text-align: left;">Bahan</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
            </tr>

         

            <tr>
                <td colspan="6" style="text-align: right;">Jumlah Harga Bahan</td>
                <td id="total_bahan" style="text-align: right;">-</td>
            </tr>

            <tr id="peralatan">
                <td style="text-align: center;">C</td>
                <td style="text-align: left;">Peralatan</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
            </tr>

          

            <tr>
                <td colspan="6" style="text-align: right;">Jumlah Harga Peralatan</td>
                <td id="total_peralatan" style="text-align: right;">-</td>
            </tr>

            <tr>
                <td style="text-align: center;">D</td>
                <td style="text-align: left;" colspan="3">Jumlah Harga Tenaga, Bahan dan Peralatan (A+B+C)</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td id="total_keseluruhan" style="text-align: right;">&nbsp;</td>
            </tr>

            <tr>
                <td style="text-align: center;">E</td>
                <td style="text-align: left;" colspan="3">Overhead + profit (Contoh 10%)</td>
                <td colspan="2" style="text-align: center;">10 % x D</td>
                <td id="total_profit" style="text-align: right;">&nbsp;</td>
            </tr>

            <tr>
                <td style="text-align: center;">F</td>
                <td style="text-align: left;" colspan="3"><strong>Harga Satuan Pekerjaan per - <span id="jumlahTampil"></span> <span class="satuan"></span> (D+E)</strong></td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td id="total" style="text-align: right;">&nbsp;</td>
            </tr>
        </tbody>
    </table>`)
}
});
    </script>
</body>
</html>