<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Informasi Harga Satuan Pekerjaan Konstruksi Provinsi Jawa Tengah, MAS PETRUK, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>MAS PETRUK | INFORMASI HARGA SATUAN PEKERJAAN KONSTRUKSI PROVINSI JAWA TENGAH</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>DATA BADAN USAHA JASA KONSTRUKSI PROVINSI JAWA TENGAH</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-9 col-lg-9">
                    <div id="chartContainer" style="height: 1754px; width: 100%;"></div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Kabupaten/Kota</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for(let i =0; i<pelaksana.length; i++){%>
                            <tr>
                                <td><a href="#" class="btn-detail" onclick="ambilJumlah('<%=pelaksana[i].id_kab%>')"><%= pelaksana[i].label%></a></td>
                                <td><%= pelaksana[i].y + perencana[i].y%></td>
                            </tr>
                           <%}%> 
                           
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="detail" style="padding: 60px 0;">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h2 class="m-t-0 m-b-0 text-center"><strong>DATA BADAN USAHA KABUPATEN/KOTA ........</strong></h2>
                    </div>
                </div>
    
                <div class="row" style="margin-top: 30px;">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3><strong>JASA PELAKSANA</strong></h3>
                            </div>
                            <div class="card-body">
                                <div id="jasa_pelaksana" style="height: 500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" style="margin-top:15px">
                        <div class="card">
                            <div class="card-header">
                              <h3><strong>JASA PERENCANA</strong></h3>
                            </div>
                            <div class="card-body">
                                <div id="jasa_perencana" style="height: 500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
       <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- End Plugins This Page -->
    <script type="text/javascript">




    $(function() {
      $('#menu-badan-usaha').addClass('custom');
    });
      $('.datane').DataTable({
          order:false,
      });

      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        axisX: {
            interval:1,
            labelFontSize: 14,
	    },
        
        axisY: {
            // interval:1,
            labelFontSize: 14,
	    },

        toolTip: {
		    shared: true
        },

        legend:{
            fontSize: 14,
        },

        data: [{
            type: "bar",
            name: "Jasa Pelaksana Konstruksi",
            showInLegend: true,

            dataPoints: <%- JSON.stringify(pelaksana) %>
        },
        {
            type: "bar",
            name: "Jasa Perencana Konstruksi",
            showInLegend: true,

            dataPoints:<%- JSON.stringify(perencana) %>
        }]
    });
    chart.render();


    // chart3.render();

    $('#detail').hide();
    $('#detail2').hide();

    $('.btn-detail').click(function() {
        $('#detail').show();
            $('html, body').animate({
            scrollTop: $("#detail").offset().top
            }, 1000);
    });

    $('.btn-detail2').click(function() {
        $('#detail2').show();
            $('html, body').animate({
            scrollTop: $("#detail2").offset().top
            }, 1000);
    });

    function ambilJumlah(id_kab){
      let data_pelaksana=[]
    var chart2 = new CanvasJS.Chart("jasa_pelaksana", {
        animationEnabled: true,
        axisX: {
            interval:1,
            labelFontSize: 14,
	    },
        
        axisY: {
            // interval:1,
            labelFontSize: 14,
	    },

        toolTip: {
		    shared: true
        },
        data: [{
            type: "column",
            name: "Pelaksana",
            dataPoints:data_pelaksana
        }]
    });
    // chart2.render();
let data_perencana =[]
    var chart3 = new CanvasJS.Chart("jasa_perencana", {
        animationEnabled: true,

        axisX: {
            interval:1,
            labelFontSize: 14,
	    },
        
        axisY: {
            // interval:1,
            labelFontSize: 14,
	    },

        toolTip: {
		    shared: true
        },
        data: [{
            type: "column",
            name: "Proven Oil Reserves (bn)",
            dataPoints:data_perencana
        }]
    });
        $.getJSON( "/info_jakon/jumlah_badan_usaha/"+id_kab ,function( data ) {
          
           
            data_pelaksana.push({label: 'Gedung', y:Number(data.pelaksana[0].gedung)});
            data_pelaksana.push({label: 'Keterampilan', y:Number(data.pelaksana[0].keterampilan)});
            data_pelaksana.push({label: 'Mekanikal', y:Number(data.pelaksana[0].mekanikal)});
            data_pelaksana.push({label: 'Sipil', y:Number(data.pelaksana[0].sipil)});
            data_pelaksana.push({label: 'Spesialis', y:Number(data.pelaksana[0].spesialis)});
            data_pelaksana.push({label: 'Lainnya', y:Number(data.pelaksana[0].lainnya)});
            // console.log(data_pelaksana);
            // console.log(data_pelaksana);
            chart2.render()
            // data_pelaksana=[]

            data_perencana.push({label: 'Arsitektur', y:Number(data.perencana[0].arsitektur)});
            data_perencana.push({label: 'Rekayasa', y:Number(data.perencana[0].rekayasa)});
            data_perencana.push({label: 'Penataan Ruang', y:Number(data.perencana[0].penataan_ruang)});
            data_perencana.push({label: 'Spesialis', y:Number(data.perencana[0].sipil)});
            data_perencana.push({label: 'Pengawas Arsitektur', y:Number(data.perencana[0].p_arsitektur)});
            data_perencana.push({label: 'Pengawas Rekayasa', y:Number(data.perencana[0].p_rekayasa)});
            data_perencana.push({label: 'Pengawas Penataan Ruang', y:Number(data.perencana[0].p_penataan_ruang)});

            chart3.render()
            // data_perencana=[]
        })
    }
    </script>
</body>
</html>