<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Informasi Harga Satuan Pekerjaan Konstruksi Provinsi Jawa Tengah, MAS PETRUK, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>MAS PETRUK | INFORMASI HARGA SATUAN PEKERJAAN KONSTRUKSI PROVINSI JAWA TENGAH</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>PROFIL BALAI JASA KONSTRUKSI PROVINSI JAWA TENGAH</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="bahan-tab" data-toggle="tab" href="#bahan" role="tab" aria-controls="bahan" aria-selected="true" style="font-weight: bold;">TUPOKSI</a>
                        </li>

                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="upah-tab" data-toggle="tab" href="#upah" role="tab" aria-controls="upah" aria-selected="false" style="font-weight: bold;">PELATIHAN TENAGA KERJA </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="perpus-tab" data-toggle="tab" href="#perpus" role="tab" aria-controls="perpus" aria-selected="false" style="font-weight: bold;">PERPUSTAKAAN </a>
                          </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bahan" role="tabpanel" aria-labelledby="bahan-tab">
                            <div class="row" >
                                <div class="col-md-12 col-lg-12">
                                    <% for(var i=0; i<tupoksi.length; i++){ %>
                                        <h4 style="margin-top: 30px;"><strong><%= tupoksi[i].judul%></strong></h4>
                                        <hr>

                                        <iframe src="/foto/<%= tupoksi[i].file1%>" style="width: 100%;height: 500px;"></iframe>
                                    <%}%>

                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="upah" role="tabpanel" aria-labelledby="upah-tab">
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-md-12 col-lg-12">
                                    <table class="table table-bordered datane" id="">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Nama</th>
                                                <th>Klasifikasi</th>
                                                <th>Kualifikasi</th>
                                                <th>No. Registrasi SKA</th>
                                                <th>Asosiasi</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% for(var i=0; i<data.length; i++){ %>
                                                <tr>
                                                  <td><%= i+1%></td>
                                                  <td><%= data[i].nama%></td>
                                                  <td><%= data[i].klasifikasi%></td>
                                                  <td><%= data[i].kualifikasi%></td>
                                                  <td><%= data[i].no_reg%></td>
                                                  <td><%= data[i].asosiasi%></td>
                                                  
                                                </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="perpus" role="tabpanel" aria-labelledby="perpus-tab">
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-md-12 col-lg-12">
                                    <table class="table table-bordered datane">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Judul</th>
                                                <th>Pengarang</th>
                                                <th>Penerbit</th>
                                                <th>Tahun Terbit</th>
                                                <th>Jumlah</th>
                                                <th style="width: 100px;">Lokasi/Rak</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% for(var i=0; i<buku.length; i++){ %>
                                            <tr>
                                                <td><%= i+1%></td>
                                                <td><%= buku[i].judul%></td>
                                                <td><%= buku[i].pengarang%></td>
                                                <td><%= buku[i].penerbit%></td>
                                                <td><%= buku[i].tahun_terbit%></td>
                                                <td><%= buku[i].jumlah%></td>
                                                <td><%= buku[i].lokasi_rak%></td>
                                            </tr>
                                            <%}%>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
       <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- End Plugins This Page -->
    <script type="text/javascript">
    $(function() {
      $('#menu-balai').addClass('custom');
    });
      $('.datane').DataTable({
          order:false,
      });

      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        axisX: {
            interval:1,
	    },
        data: [{
            type: "column",
            name: "Proven Oil Reserves (bn)",
            dataPoints:[
            { label: "Kab. Banyumas", y: 266.21 },
                { label: "Kab. Cilacap", y: 302.25 },
                { label: "Kab. Jepara", y: 157.20 },
                { label: "kab. Wonogiri", y: 148.77 },
                { label: "Kab. Pemalang", y: 101.50 },
                { label: "Kab. Pekalongan", y: 97.8 },
                { label: "Kab. Batang", y: 266.21 },
                { label: "Kab. Blora", y: 302.25 },
                { label: "Kab. Boyolali", y: 157.20 },
                { label: "Kota Salatiga", y: 148.77 },
                { label: "Kota Semarang", y: 101.50 },
                { label: "Kota Tegal", y: 97.8 }
            ]
        }]
    });
    chart.render();


    var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: true,
        axisX: {
            interval:1,
	    },
        data: [{
            type: "column",
            name: "Proven Oil Reserves (bn)",
            dataPoints:[
                { label: "Bangunan Gedung", y: 266.21 },
                { label: "Bangunan Sipil", y: 302.25 },
                { label: "Instalasi Mekanikal Elektrikal", y: 157.20 },
                { label: "Jasa Pelaksana Lainnya", y: 148.77 },
                { label: "dst.........", y: 101.50 }
            ]
        }]
    });
    chart2.render();

    var chart3 = new CanvasJS.Chart("chartContainer3", {
        animationEnabled: true,
        width: 825,
        axisX: {
            interval:1,
	    },
        data: [{
            type: "column",
            name: "Proven Oil Reserves (bn)",
            dataPoints:[
            { label: "Kab. Banyumas", y: 266.21 },
                { label: "Kab. Cilacap", y: 302.25 },
                { label: "Kab. Jepara", y: 157.20 },
                { label: "kab. Wonogiri", y: 148.77 },
                { label: "Kab. Pemalang", y: 101.50 },
                { label: "Kab. Pekalongan", y: 97.8 },
                { label: "Kab. Batang", y: 266.21 },
                { label: "Kab. Blora", y: 302.25 },
                { label: "Kab. Boyolali", y: 157.20 },
                { label: "Kota Salatiga", y: 148.77 },
                { label: "Kota Semarang", y: 101.50 },
                { label: "Kota Tegal", y: 97.8 }
            ]
        }]
    });
    chart3.render();


    var chart4 = new CanvasJS.Chart("chartContainer4", {
        animationEnabled: true,
        width:1140,
        axisX: {
            interval:1,
	    },
        data: [{
            type: "column",
            name: "Proven Oil Reserves (bn)",
            dataPoints:[
                { label: "Perencana Arsitektur", y: 266.21 },
                { label: "Perencana Rekayasa", y: 302.25 },
                { label: "Pengawas Arsitektur", y: 157.20 },
                { label: "Pengawas Rekayasa", y: 148.77 },
                { label: "dst.........", y: 101.50 }
            ]
        }]
    });
    chart4.render();
    

    $('#detail').hide();
    $('#detail2').hide();

    $('.btn-detail').click(function() {
        $('#detail').show();
            $('html, body').animate({
            scrollTop: $("#detail").offset().top
            }, 1000);
    });

    $('.btn-detail2').click(function() {
        $('#detail2').show();
            $('html, body').animate({
            scrollTop: $("#detail2").offset().top
            }, 1000);
    });
    </script>
</body>
</html>