<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah, SIJAKONS, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN,">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>SIJAKONS | Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>PERATURAN</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="bahan-tab" data-toggle="tab" href="#bahan" role="tab" aria-controls="bahan" aria-selected="true" style="font-weight: bold;">Undang-Undang</a>
                        </li>

                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="upah-tab" data-toggle="tab" href="#upah" role="tab" aria-controls="upah" aria-selected="false" style="font-weight: bold;">PP</a>
                        </li>

                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="alat-tab" data-toggle="tab" href="#alat" role="tab" aria-controls="alat" aria-selected="false" style="font-weight: bold;">Permen</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="lain-tab" data-toggle="tab" href="#lain" role="tab" aria-controls="lain" aria-selected="false" style="font-weight: bold;">Peraturan Lainnya</a>
                          </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bahan" role="tabpanel" aria-labelledby="bahan-tab">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12 col-lg-12">
                                    <table class="table table-bordered table-striped datane">
                                        <thead style="background-color: #007bff;color: #fff;">
                                            <tr>
                                                <th style="width: 15px;">No</th>
                                                <th>Judul</th>
                                                <th style="width: 100px;">Option</th>
                                            </tr>
                                        </thead>
                
                                        <tbody>
                                            <% for(var i=0; i<undang.length; i++){ %>
                                            <tr>
                                                <td><%= i+1%></td>
                                                <td><%= undang[i].judul%></td>
                                                <td><a href="/foto/<%= undang[i].file1%>" class="btn btn-primary">Download</a></td>
                                            </tr>
                                            <%}%>
                
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="upah" role="tabpanel" aria-labelledby="upah-tab">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12 col-lg-12">
                                    <table class="table table-bordered table-striped datane">
                                        <thead style="background-color: #007bff;color: #fff;">
                                            <tr>
                                                <th style="width: 15px;">No</th>
                                                <th>Judul</th>
                                                <th style="width: 100px;">Option</th>
                                            </tr>
                                        </thead>
                
                                        <tbody>
                                            <% for(var i=0; i<pp.length; i++){ %>
                                            <tr>
                                                <td><%= i+1%></td>
                                                <td><%= pp[i].judul%></td>
                                                <td><a href="/foto/<%= pp[i].file1%>" class="btn btn-primary">Download</a></td>
                                            </tr>
                                            <%}%>
                
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="alat" role="tabpanel" aria-labelledby="alat-tab">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12 col-lg-12">
                                    <table class="table table-bordered table-striped datane">
                                        <thead style="background-color: #007bff;color: #fff;">
                                            <tr>
                                                <th style="width: 15px;">No</th>
                                                <th>Judul</th>
                                                <th style="width: 100px;">Option</th>
                                            </tr>
                                        </thead>
                
                                        <tbody>
                                            <% for(var i=0; i<permen.length; i++){ %>
                                            <tr>
                                                <td><%= i+1%></td>
                                                <td><%= permen[i].judul%></td>
                                                <td><a href="/foto/<%= permen[i].file1%>" class="btn btn-primary">Download</a></td>
                                            </tr>
                                            <%}%>
                
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="lain" role="tabpanel" aria-labelledby="alat-tab">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12 col-lg-12">
                                    <table class="table table-bordered table-striped datane">
                                        <thead style="background-color: #007bff;color: #fff;">
                                            <tr>
                                                <th style="width: 15px;">No</th>
                                                <th>Judul</th>
                                                <th style="width: 100px;">Option</th>
                                            </tr>
                                        </thead>
                
                                        <tbody>
                                            <% for(var i=0; i<lain.length; i++){ %>
                                            <tr>
                                                <td><%= i+1%></td>
                                                <td><%= lain[i].judul%></td>
                                                <td><a href="/foto/<%= lain[i].file1%>" class="btn btn-primary">Download</a></td>
                                            </tr>
                                            <%}%>
                
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <!-- End Plugins This Page -->
    <script type="text/javascript">
    $(function() {
      $('#menu-peraturan').addClass('custom');
    });
      $('.datane').DataTable({
          order:false,
      });
    </script>
</body>
</html>