<!--  BACKUP ASLI SERVER BENAR -->

<!DOCTYPE html>
<html lang="en">
    <%
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }
%>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#" type="image/png">

    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        body {
            background: rgb(204,204,204); 
            font-size:12pt;
            line-height:1.5em;
            font-family: 'Roboto', sans-serif !important;
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 5mm;
            box-shadow: 0 0 5mm rgba(0,0,0,0.5);
            /*border:2px solid black;*/
        }

        page[size="A4"] {
            width: 210mm;
            /* height: 310mm;   */
            /*border:1px solid black;*/
            /*background-color: red;*/
            /* float: left; */
        }

        @page {
            size: A4 portrait;
            margin:15mm 15mm;
            background-color: red;
        }
        
        /* span{
            color:red !important;
        } */
        @media print {
            body, page {
            margin: 0;
            box-shadow: none;
            }

            #btn-print{
            display: none !important;
            }
        }

        .m-t-0{
            margin-top: 0;
        }

        .m-b-0{
            margin-bottom: 0;
        }

        /* table { page-break-inside:auto } */
        /* tr    { page-break-inside:avoid; page-break-after:auto} */
        .border {border: 0.5mm solid black !important}


        h4{
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: normal;
        }

        /* span{
            color: red;
        } */

        .button {
            background-color: red;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 6px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .button:hover{
            background-color: #fff;
            color: black;
        }
      /* div{
        page-break-inside: avoid;
      } */
      /* tbody { page-break-inside:avoid } */
      /* tr   { page-break-inside:avoid;} */
      /* thead { display:table-header-group }
      tfoot { page-break-inside:avoid; page-break-after:auto  } */
    </style>
</head>

<body style="position: relative;">
    <button class="button"  id="btn-print">Cetak</button>
    <page size="A4">
        <div style="page-break-inside: avoid;">
            <div style="width: 100%;border:1px solid black;">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;"><strong>DAFTAR HARGA SATUAN PEKERJAAN<br/>BERDASARKAN PERMEN PUPERA NO. 28/PRT/M/2016</strong></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <!-- <tr>
                            <td>SUMBER DANA</td>
                            <td>:</td>
                            <td>PASAR BEBAS</td>
                        </tr> -->

                        <tr>
                            <td>DAERAH</td>
                            <td>:</td>
                            <td><%= kabupaten[0].kab%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width: 100%;margin-top: 2.5mm;">
                <table border="1" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th>KODE</th>
                            <th>URAIAN PEKERJAAN</th>
                            <th>SAT</th>
                            <th>HARGA SATUAN PEKERJAAN<br/>Rp</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% 
                        let kode =""
                        for(let i =0; i< hspk.length; i++){
                            if( hspk[i].bidang==2){
                            let x = hspk[i].kode.split(".");
                            x = x[0]+"."+x[1]+"."+x[2]+"."+x[3];
                        if(!parseInt(x[0])){
                            if(kode !=  x){
                            kode = x;
                                %>
                                <tr>
                                    <td style="text-align: center;border-right: hidden;"></td>
                                    <td style="text-align: center;"><strong><%= x%></strong></td>
                                    <td colspan="3"><strong><%= hspk[i].jenis_pekerjaan?hspk[i].jenis_pekerjaan:''%></strong></td>
                            
                                </tr>
                            <%}%>
                            <%}%>
                        <tr>
                            <td style="text-align: center;"><%=  i +1%></td>
                            <td style="text-align: center;"><%= hspk[i].kode%></td>
                            <td><%= hspk[i].nama_pekerjaan%></td>
                            <td style="text-align: center;"><%= hspk[i].satuan%></td>
                            <td style="text-align: right;"><%= numberWithCommas(Math.round(hspk[i].total_keseluruhan))%></td>
                        </tr>
                        <%}%>
                        <%}%>

                        
                    </tbody>
                </table>
            </div>
        </div>

        <div style="page-break-inside: avoid;">
            <div style="width: 100%;border:1px solid black;margin-top: 5mm;">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;letter-spacing: 5px;"><strong>DAFTAR HARGA SATUAN BAHAN BANGUNAN</strong></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <!-- <tr>
                            <td>SUMBER DANA</td>
                            <td>:</td>
                            <td>PASAR BEBAS</td>
                        </tr> -->

                        <tr>
                            <td>DAERAH</td>
                            <td>:</td>
                            <td><%= kabupaten[0].kab%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width: 100%;margin-top: 2.5mm;">
                <table border="1" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th >KATEGORI BAHAN</th>
                            <th colspan="2">JENIS BAHAN</th>
                            <th>SAT</th>
                            <th>HARGA<br/>Rp</th>
                            <th>KET</th>
                        </tr>
                    </thead>

                    <tbody>
                    
                        <% for(let i =0; i< hsd.length; i++){%>
                        <%if(hsd[i].kategori!='TENAGA KERJA' && hsd[i].kategori!='PERALATAN'){%>

                            <tr>
                                <td style="text-align: center;"><%=  i +1%></td>
                                <td style="text-align: left;width: 240px;"><%= hsd[i].kategori%></td>
                                <td style="text-align: left;width: 240px;"><%= hsd[i].jenis%></td>
                                <td style="width: 200px;"><%= hsd[i].nama%></td>
                                <td style="text-align: center;"><%= hsd[i].satuan%></td>
                                <td style="text-align: right;"><%= numberWithCommas(Math.round(hsd[i].hargaMin))%></td>
                                <td></td>
                            </tr>
                            <%}}%>
                    

                    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div style="page-break-inside: avoid;">
            <div style="width: 100%;border:1px solid black;margin-top: 5mm;">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;letter-spacing: 5px;"><strong>DAFTAR UPAH PEKERJA</strong></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <!-- <tr>
                            <td>SUMBER DANA</td>
                            <td>:</td>
                            <td>PASAR BEBAS</td>
                        </tr> -->

                        <tr>
                            <td>DAERAH</td>
                            <td>:</td>
                            <td><%= kabupaten[0].kab%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width: 100%;margin-top: 2.5mm;">
                <table border="1" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th>URAIAN PEKERJA</th>
                            <th>SATUAN</th>
                            <th>HARGA<br/>Rp</th>
                            <th>KET</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(let i =0; i< hsd.length; i++){%>
                            <%if(hsd[i].kategori=='TENAGA KERJA'){%>
    
                        

                            <tr>
                                <td style="text-align: center;"><%=  i +1%></td>
                                <td><%= hsd[i].nama%></td>
                                <td style="text-align: center;"><%= hsd[i].satuan%></td>
                                <td style="text-align: right;"><%= numberWithCommas(Math.round(hsd[i].hargaMin))%></td>
                                <td></td>
                            </tr>
                            <%}}%>
                    
                    </tbody>
                </table>
            </div>
        </div>

        <div style="page-break-inside: avoid;">
            <div style="width: 100%;border:1px solid black;margin-top: 5mm;">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;letter-spacing: 5px;" colspan="3"><strong>DAFTAR SEWA PERALATAN</strong></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <!-- <tr>
                            <td>SUMBER DANA</td>
                            <td>:</td>
                            <td>PASAR BEBAS</td>
                        </tr> -->

                        <tr>
                            <td>DAERAH</td>
                            <td>:</td>
                            <td><%= kabupaten[0].kab%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width: 100%;margin-top: 5mm;">
                <table border="1" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="width:40px">NO.</th>
                            <th>URAIAN PEKERJA</th>
                            <th>SATUAN</th>
                            <th>HARGA<br/>Rp</th>
                            <th>KET</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(let i =0; i< hsd.length; i++){%>
                            <%if(hsd[i].kategori=='PERALATAN'){%>
    
                        

                            <tr>
                                <td style="text-align: center;"><%=  i +1%></td>
                                <td><%= hsd[i].nama%></td>
                                <td style="text-align: center;"><%= hsd[i].satuan%></td>
                                <td style="text-align: right;"><%= numberWithCommas(Math.round(hsd[i].hargaMin))%></td>
                                <td></td>
                            </tr>
                            <%}}%>

                    </tbody>
                </table>
            </div>
        </div>

        <div style="page-break-inside: avoid;">
            <div style="width: 100%;border:1px solid black;margin-top: 5mm;">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;"><strong>DAFTAR HARGA SATUAN PERKERJAAN (AHSP) NO. 28/PRT/M/2016<BR/>BIDANG CIPTA KARYA</strong></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <tbody>
                        <!-- <tr>
                            <td>SUMBER DANA</td>
                            <td>:</td>
                            <td>PASAR BEBAS</td>
                        </tr> -->

                        <tr>
                            <td>DAERAH</td>
                            <td>:</td>
                            <td><%= kabupaten[0].kab%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% for(let i =0; i< hspk.length; i++){
                if(hspk[i].bidang==2){
                %>
            <div style="width: 100%;margin-top: 5mm;page-break-inside: avoid;">
                <table border="1" cellpadding="5" cellspacing="0" style="width: 100%;border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="width:40px">NO.</th>
                            <th>SNI</th>
                            <th>KODE</th>
                            <th>KOEF</th>
                            <th>SAT</th>
                            <th>URAIAN PERKERJAAN</th>
                            <th>HARGA BAHAN/UPAH</th>
                            <th>JUMLAH</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                            <tr>
                                <td style="text-align: center;"><strong><%=  i +1%></strong></td>
                                <td style="text-align: center;"><strong><%= hspk[i].kode%></strong></td>
                                <td></td>
                                <td style="text-align: right;"><strong>1</strong></td>
                                <td style="text-align: center;"><strong><%= hspk[i].satuan%></strong></td>
                                <td><strong><%= hspk[i].nama_pekerjaan%></strong></td>
                                <td style="text-align: right;"><strong></strong></td>
                                <td style="text-align: right;"><strong></strong></td>
                            </tr>
                        
                    
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><strong>A</strong></td>
                                <td><strong>TENAGA</strong></td>
                                <td style="text-align: right;"><strong></strong></td>
                                <td style="text-align: right;"><strong></strong></td>
                            </tr>
                            <% for(let a =0; a< hspk[i].list.length; a++){%>
                                <%if(hspk[i].list[a].jenis_uraian=='tenaga'){%>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align: right;"><%=hspk[i].list[a].kode%></td>
                                <td style="text-align: right;"><%=hspk[i].list[a].koefisien%></td>
                                <td style="text-align: center;">OH</td>
                                <td><%=hspk[i].list[a].nama%></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].list[a].harga))%></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].list[a].harga * hspk[i].list[a].koefisien))%></td>
                            </tr>
        
                        
                            <%}}%>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><strong>B</strong></td>
                                <td><strong>BAHAN</strong></td>
                                <td style="text-align: right;"><strong></strong></td>
                                <td style="text-align: right;"><strong></strong></td>
                            </tr>
                            <% for(let a =0; a< hspk[i].list.length; a++){%>
                                <%if(hspk[i].list[a].jenis_uraian=='bahan'){%>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align: right;"><%=hspk[i].list[a].kode%></td>
                                <td style="text-align: right;"><%=hspk[i].list[a].koefisien%></td>
                                <td style="text-align: center;">OH</td>
                                <td><%=hspk[i].list[a].nama%></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].list[a].harga))%></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].list[a].harga * hspk[i].list[a].koefisien))%></td>
                            </tr>
        
                        
                            <%}}%>
                        
        
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><strong>C</strong></td>
                                <td><strong>PERALATAN</strong></td>
                                <td style="text-align: right;"></td>
                                <td style="text-align: right;"></td>
                            </tr>
                            <% for(let a =0; a< hspk[i].list.length; a++){%>
                                <%if(hspk[i].list[a].jenis_uraian=='peralatan'){%>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align: right;"><%=hspk[i].list[a].kode%></td>
                                <td style="text-align: right;"><%=hspk[i].list[a].koefisien%></td>
                                <td style="text-align: center;">OH</td>
                                <td><%=hspk[i].list[a].nama%></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].list[a].harga))%></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].list[a].harga * hspk[i].list[a].koefisien))%></td>
                            </tr>
        
                        
                            <%}}%>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><strong>D</strong></td>
                                <td><strong>Jumlah A + B + C</strong></td>
                                <td style="text-align: right;"></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].total_keseluruhan))%></td>
                            </tr>
        
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><strong>E</strong></td>
                                <td><strong>Overhead & Profit (contoh 10%)</strong></td>
                                <td style="text-align: right;"></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].profit))%></td>
                            </tr>
        
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><strong>F</strong></td>
                                <td><strong>Harga Satuan Pekerjaan (D + E)</strong></td>
                                <td style="text-align: right;"></td>
                                <td style="text-align: right;"><%=numberWithCommas(Math.round(hspk[i].total_keseluruhan + hspk[i].profit))%></td>
                            </tr>
                            

                            
                            
                        

                        
                    </tbody>
                    
                </table>
            </div>
        <%}%>
        <%}%>
    </div>
    </page>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">
    function numberWithCommas(x) {
		  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}
    $('#btn-print').click(function(){
         window.print();
    });
    </script>
</body>
</html>
