<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Master Pekerjaan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_master/pekerjaan">Data Master Pekerjaan</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_master/pekerjaan/submit_edit" method="POST">
            <input type="hidden" class="form-control" name="id" id="" value="<%= data[0].id%>">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Divisi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="id_divisi" id="id_divisi" data-search="true">
                        <% for(var i=0; i<data_divisi.length; i++){ %> 
                          
                          <option value="<%= data_divisi[i]['id']%>" <%if(data_divisi[i].id==data[0].id_divisi){%>selected<%}%>><%= data_divisi[i]['nama_divisi']%></option>
                          <% }%>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Pekerjaan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="nama_pekerjaan" id="" value="<%= data[0].nama_pekerjaan%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Mata Pembayaran</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="mata_pembayaran" id="" value="<%= data[0].mata_pembayaran%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Satuan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="satuan" id="" value="<%= data[0].satuan%>">
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2019</span>
        <span>Pemerintah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>