<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Master Detail Pekerjaan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_master/detail_pekerjaan">Data Master Detail Pekerjaan</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_master/detail_pekerjaan/submit_edit" method="POST">
            <input type="hidden" class="form-control" name="id" id="" value="<%= data[0].id%>">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Divisi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="id_divisi" id="id_divisi" data-search="true">
                        <% for(var i=0; i<data_divisi.length; i++){ %> 
                          
                          <option value="<%= data_divisi[i]['id']%>" <%if(data_divisi[i].id==data[0].id_divisi){%>selected<%}%>><%= data_divisi[i]['nama_divisi']%></option>
                          <% }%>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Pekerjaan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="id_pekerjaan" id="id_pekerjaan" data-search="true">
                        <% for(var i=0; i<data_pekerjaan.length; i++){ %> 
                          
                          <option value="<%= data_pekerjaan[i]['id']%>" <%if(data_pekerjaan[i].id==data[0].id_pekerjaan){%>selected<%}%>><%= data_pekerjaan[i]['nama_pekerjaan']%></option>
                          <% }%>
                      </select>
                    </div>
                  </div>
                </div>  

                <div class="form-group">
                  <label>Jenis Uraian</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="jenis_uraian" id="" value="<%= data[0].jenis_uraian%>">
                        <option value="">-- Pilih --</option>
                        <option <%if(data[0].jenis_uraian=='tenaga'){%> selected <%}%> >tenaga</option>
                        <option <%if(data[0].jenis_uraian=='bahan'){%> selected <%}%> >bahan</option>
                        <option <%if(data[0].jenis_uraian=='peralatan'){%> selected <%}%> >peralatan</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Nama Uraian</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="nama_uraian" id="" value="<%= data[0].nama_uraian%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Koefisien</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="koefisien" id="" value="<%= data[0].koefisien%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Satuan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="satuan" id="" value="<%= data[0].satuan%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Daerah Bawah</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="daerah_bawah" id="" value="<%= data[0].daerah_bawah%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Daerah Atas</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="daerah_atas" id="" value="<%= data[0].daerah_atas%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Daerah Ekstrem</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="daerah_ekstrem" id="" value="<%= data[0].daerah_ekstrem%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Daerah Super Ekstrem</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="daerah_super_ekstrem" id="" value="<%= data[0].daerah_super_ekstrem%>">
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2018</span>
        <span>Pemerintah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>