<% include ../../template-backoffice/header.ejs %>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Pelatihan Tenaga Kerja Balai</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_profil_balai/tenaga_kerja">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_profil_balai/tenaga_kerja/submit_edit" method="POST">
            <input type="hidden" class="form-control" name="id" id="" value="<%= data[0].id%>">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Nama</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="nama" id="" value="<%= data[0].nama%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>KTP</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="ktp" id="" value="<%= data[0].ktp%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>NPWP</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="npwp" id="" value="<%= data[0].npwp%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Klasifikasi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="klasifikasi" id="" value="<%= data[0].klasifikasi%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Kualifikasi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="kualifikasi" id="" value="<%= data[0].kualifikasi%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>No.Registrasi SKA</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="no_reg" id="" value="<%= data[0].no_reg%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Asosiasi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="asosiasi" id="" value="<%= data[0].asosiasi%>">
                    </div>
                  </div>
                </div>

                

                
                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>